<section class="content-slider-sec py-5 my-5">
    <div class="container">
        <div class="row g-0 align-items-stretch">
            <div class="col-md-6">
                <div class="image-slider-main">
                    <div class="image-slider">
                        <img src="assets/images/contebt-slider-img.png" alt="">
                    </div>
                    <div class="image-slider">
                        <img src="assets/images/contebt-slider-img.png" alt="">
                    </div>
                    <div class="image-slider">
                        <img src="assets/images/contebt-slider-img.png" alt="">
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="content-slider-content-wraper">
                    <div>
                        <a href="#" class="view-all-btn btn-link">view all</a>
                        <div class="content-slider-main slick-top-btns">
                            <div>
                                <div class="content-slider-item-inner">
                                    <div class="slider-sec-content ">
                                        <h3>PLACE YOUR TITLE HERE</h3>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem
                                            Ipsum
                                            has
                                            been the industry's standard dummy text ever since the 1500s, when an
                                            unknown
                                            printer
                                            took a
                                            galley of type and scrambled it to make a type specimen book. It has </p>
                                        <a href="#" class="btn">learn more</a>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="content-slider-item-inner">
                                    <div class="slider-sec-content ">
                                        <h3>PLACE YOUR TITLE HERE</h3>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem
                                            Ipsum
                                            has
                                            been the industry's standard dummy text ever since the 1500s, when an
                                            unknown
                                            printer
                                            took a
                                            galley of type and scrambled it to make a type specimen book. It has </p>
                                        <a href="#" class="btn">learn more</a>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="content-slider-item-inner">
                                    <div class="slider-sec-content ">
                                        <h3>PLACE YOUR TITLE HERE</h3>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem
                                            Ipsum
                                            has
                                            been the industry's standard dummy text ever since the 1500s, when an
                                            unknown
                                            printer
                                            took a
                                            galley of type and scrambled it to make a type specimen book. It has </p>
                                        <a href="#" class="btn">learn more</a>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>



            </div>
        </div>
    </div>
</section>


{% schema %}
    {
      "name": "Cus Content Slider",
      "tag": "section",
      "class": "announcement-bar-section",
      "blocks": [
        {
          "type": "column",
          "name": "t:sections.multicolumn.blocks.column.name",
          "settings": [
            {
              "type": "image_picker",
              "id": "image_product",
              "label": "Image"
            },
            {
              "type": "text",
              "id": "title",
              "default": "Collections",
              "label": "Title"
            },
            {
              "type": "richtext",
              "id": "content",
              "default": "<p>Collections</p>",
              "label": "Content"
            },
            {
              "type": "text",
              "id": "button_text",
              "default": "Collections",
              "label": "Button Title"
            }, {
              "type": "url",
              "id": "button_url",
              "label": "Button URL"
            }
          ]
        }
      ],
      "settings": [
        {
          "type": "text",
          "id": "button_text",
          "default": "Collections",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        }
    ],
    "presets": [
        {
          "name": "Cus Content Slider",
          "blocks": [
          {
            "type": "column"
          }, 
          {
            "type": "column"
          },
          {
            "type": "column"
          }
        ]
        }
      ]
    }
    {% endschema %}