<div class="banner" style="background-image: url({{ section.settings.image | img_url: 'master' }});">
    <div class="container position-relative">
        <div class="row align-items-center">
            <div class="main-banner-con">
                <div class="banner-content">
                    <h5>Welcome To our website</h5>
                    <h2><span>CONTEMPORARY ART</span> Transform Your Living Space</h2>
                    <p>{{ section.settings.content }}
                    </p>
                    <div class="banner-btn">
                        <a class="btn" href="">get started</a>
                        <a class="btn btn-2" href="">shop now</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% schema %}
    {
      "name": "Cus Banner",
      "tag": "section",
      "class": "announcement-bar-section",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.multicolumn.blocks.column.settings.image.label"
        },
        {
          "type": "text",
          "id": "sub_title",
          "default": "Collections",
          "label": "Sub Title"
        },
        {
          "type": "text",
          "id": "title",
          "default": "Collections",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "content",
          "default": "Collections",
          "label": "cpntent"
        },
        {
          "type": "text",
          "id": "button_text",
          "default": "Collections",
          "label": "Button Text"
        },
        {
            "type": "url",
            "id": "button_link",
            "label": "Button Link"
          }
    ],
    "presets": [
        {
          "name": "Cus Banner"
        }
      ]
    }
    {% endschema %}