<section class="testimonial-sec py-5">
    <div class="title text-center">
        <h2>WHAT OUR CLIENT SAY’S</h2>
    </div>
    <div class="container">
        <div class="row">




            <div class="col-lg-3 col-md-6">
                <div class="testimonial-item">
                    <div class="testimonial-content-item">
                        <div class="testimonial-content-inner">
                            <div class="testimoial-bottom">
                                <div class="testimonial-img">

                                    <img src="https://demo-gds.com/minunraha-3213/wp-content/uploads/2023/03/Ellipse-1.png"
                                        alt="">

                                </div>
                                <div class="testimonial-name">

                                    <h3>Monique Greer</h3>
                                    <ul class="rating">
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                    </ul>
                                </div>

                            </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy</p>



                        </div>
                    </div>



                </div>

            </div>
            <div class="col-lg-3 col-md-6">
                <div class="testimonial-item">
                    <div class="testimonial-content-item">
                        <div class="testimonial-content-inner">
                            <div class="testimoial-bottom">
                                <div class="testimonial-img">

                                    <img src="https://demo-gds.com/minunraha-3213/wp-content/uploads/2023/03/Ellipse-1-1.png"
                                        alt="">

                                </div>
                                <div class="testimonial-name">

                                    <h3>Monique Greer</h3>
                                    <ul class="rating">
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                    </ul>
                                </div>

                            </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy</p>



                        </div>
                    </div>



                </div>

            </div>
            <div class="col-lg-3 col-md-6">
                <div class="testimonial-item">
                    <div class="testimonial-content-item">
                        <div class="testimonial-content-inner">
                            <div class="testimoial-bottom">
                                <div class="testimonial-img">

                                    <img src="https://demo-gds.com/minunraha-3213/wp-content/uploads/2023/03/Ellipse-1-2.png"
                                        alt="">

                                </div>
                                <div class="testimonial-name">

                                    <h3>Monique Greer</h3>
                                    <ul class="rating">
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                    </ul>
                                </div>

                            </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy</p>



                        </div>
                    </div>



                </div>

            </div>
            <div class="col-lg-3 col-md-6">
                <div class="testimonial-item">
                    <div class="testimonial-content-item">
                        <div class="testimonial-content-inner">
                            <div class="testimoial-bottom">
                                <div class="testimonial-img">

                                    <img src="https://demo-gds.com/minunraha-3213/wp-content/uploads/2023/03/Ellipse-1577.png"
                                        alt="">

                                </div>
                                <div class="testimonial-name">

                                    <h3>Monique Greer</h3>
                                    <ul class="rating">
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                    </ul>
                                </div>

                            </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy</p>



                        </div>
                    </div>



                </div>

            </div>



        </div>
    </div>
</section>


{% schema %}
    {
      "name": "Cus Testimonial",
      "tag": "section",
      "class": "announcement-bar-section",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.multicolumn.blocks.column.settings.image.label"
        },
        {
          "type": "text",
          "id": "sub_title",
          "default": "Collections",
          "label": "Sub Title"
        },
        {
          "type": "text",
          "id": "title",
          "default": "Collections",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "button_text",
          "default": "Collections",
          "label": "Button Text"
        },
        {
            "type": "url",
            "id": "button_link",
            "label": "Button Link"
          }
    ],
    "presets": [
        {
          "name": "Cus Testimonial"
        }
      ]
    }
    {% endschema %}