<div class="gallery-page">
  <h1>{{ section.settings.title }}</h1>
  
  <div class="gallery">
    {% for image in collection.images %}
      <div class="gallery-item">
        <img src="{{ block.settings.image | img_url: 'master' }}" alt="{{ image.alt | escape }}">
        <p>{{ image.caption | escape }}</p>
      </div>
    {% endfor %}
  </div>
</div>




{% schema %}
    {
      "name": "Cus Gallery",
      "tag": "section",
      "class": "announcement-bar-section",
      "settings": [
        {
        "type": "text",
        "id": "title",
        "default": "Welcome to Our Gallery",
        "label": "Title"
        }
    ],
    "blocks": [
      {
        "type": "column",
        "name": "t:sections.multicolumn.blocks.column.name",
    
        "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        }
        ]
      }
    ],

    "presets": [
        {
          "name": "Cus Gallery"
        }
      ]
    }

{% endschema %}