<section class="testimonial-sec py-5">
    <div class="title text-center">
        <h2>{{ section.settings.title }}</h2>
    </div>
    <div class="container">
        <div class="row">



        {%- for block in section.blocks -%}
            <div class="col-lg-3 col-md-6">
                <div class="testimonial-item">
                    <div class="testimonial-content-item">
                        <div class="testimonial-content-inner">
                            <div class="testimoial-bottom">
                                <div class="testimonial-img">

                                    <img src="{{ block.settings.image_product | img_url: 'master' }}"
                                        alt="">

                                </div>
                                <div class="testimonial-name">

                                    <h3>{{ block.settings.title }}</h3>
                                    <ul class="rating">
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                    </ul>
                                </div>

                            </div>
                            {{ block.settings.content }}
                        </div>
                    </div>



                </div>

            </div>
        {%- endfor -%}
            
            
            



        </div>
    </div>
</section>


{% schema %}
    {
      "name": "Cus Testimonial",
      "tag": "section",
      "class": "announcement-bar-section",
      "blocks": [
        {
          "type": "column",
          "name": "t:sections.multicolumn.blocks.column.name",
          "settings": [
            {
              "type": "image_picker",
              "id": "image_product",
              "label": "Image"
            },
            {
              "type": "text",
              "id": "title",
              "default": "Collections",
              "label": "Title"
            },
            {
              "type": "richtext",
              "id": "content",
              "default": "<p>Collections</p>",
              "label": "Content"
            }
          ]
        }
      ],
      "settings": [
        {
          "type": "text",
          "id": "title",
          "default": "Collections",
          "label": "Title"
        }
    ],
    "presets": [
        {
          "name": "Cus Testimonial",
          "blocks": [
          {
            "type": "column"
          }, 
          {
            "type": "column"
          },
          {
            "type": "column"
          }
        ]
        }
      ]
    }
    {% endschema %}