<section class="products-sec">
    <div class="container">
        <div class="title">
            <h2>Featured Products</h2>
        </div>
        <div class="row product-slider slick-top-btns">
            <div class="col-md-3">
                <div class="product-item">
                    <div class="product-inner-item">
                        <div class="wishlist">
                            <i class="far fa-heart"></i>
                        </div>
                        <img src="assets/images/product-img-1.png" alt="">
                    </div>
                    <div class="product-content">
                        <h3>Place Your Tilte Here</h3>
                        <div class="rating">
                            <ul>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>

                            </ul>
                        </div>
                        <h6>$00.00</h6>
                        <div class="product-btn">
                            <a class="btn" href="product-detail.php"><i class="far fa-plus"></i></a>
                        </div>
                      {% if product.available %}
                      {% if customer %}
                        <button onclick="addToWishlist({{ product.id }})">Add to Wishlist</button>
                      
                      {% endif %}
                    {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-item">
                    <div class="product-inner-item">
                        <div class="wishlist">
                            <i class="far fa-heart"></i>
                        </div>
                        <img src="assets/images/product-img-2.png" alt="">
                    </div>
                    <div class="product-content">
                        <h3>Place Your Tilte Here</h3>
                        <div class="rating">
                            <ul>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>

                            </ul>
                        </div>
                        <h6>$00.00</h6>
                        <div class="product-btn">
                            <a class="btn" href="product-detail.php"><i class="far fa-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-item">
                    <div class="product-inner-item">
                        <div class="wishlist">
                            <i class="far fa-heart"></i>
                        </div>
                        <img src="assets/images/product-img-3.png" alt="">
                    </div>
                    <div class="product-content">
                        <h3>Place Your Tilte Here</h3>
                        <div class="rating">
                            <ul>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>

                            </ul>
                        </div>
                        <h6>$00.00</h6>
                        <div class="product-btn">
                            <a class="btn" href="product-detail.php"><i class="far fa-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-item">
                    <div class="product-inner-item">
                        <div class="wishlist">
                            <i class="far fa-heart"></i>
                        </div>
                        <img src="assets/images/product-img-4.png" alt="">
                    </div>
                    <div class="product-content">
                        <h3>Place Your Tilte Here</h3>
                        <div class="rating">
                            <ul>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>

                            </ul>
                        </div>
                        <h6>$00.00</h6>
                        <div class="product-btn">
                            <a class="btn" href="product-detail.php"><i class="far fa-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="product-item">
                    <div class="product-inner-item">
                        <div class="wishlist">
                            <i class="far fa-heart"></i>
                        </div>
                        <img src="assets/images/product-img-1.png" alt="">
                    </div>
                    <div class="product-content">
                        <h3>Place Your Tilte Here</h3>
                        <div class="rating">
                            <ul>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>

                            </ul>
                        </div>
                        <h6>$00.00</h6>
                        <div class="product-btn">
                            <a class="btn" href="product-detail.php"><i class="far fa-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-item">
                    <div class="product-inner-item">
                        <div class="wishlist">
                            <i class="far fa-heart"></i>
                        </div>
                        <img src="assets/images/product-img-2.png" alt="">
                    </div>
                    <div class="product-content">
                        <h3>Place Your Tilte Here</h3>
                        <div class="rating">
                            <ul>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>

                            </ul>
                        </div>
                        <h6>$00.00</h6>
                        <div class="product-btn">
                            <a class="btn" href="product-detail.php"><i class="far fa-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-item">
                    <div class="product-inner-item">
                        <div class="wishlist">
                            <i class="far fa-heart"></i>
                        </div>
                        <img src="assets/images/product-img-3.png" alt="">
                    </div>
                    <div class="product-content">
                        <h3>Place Your Tilte Here</h3>
                        <div class="rating">
                            <ul>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>

                            </ul>
                        </div>
                        <h6>$00.00</h6>
                        <div class="product-btn">
                            <a class="btn" href="product-detail.php"><i class="far fa-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-item">
                    <div class="product-inner-item">
                        <div class="wishlist">
                            <i class="far fa-heart"></i>
                        </div>
                        <img src="assets/images/product-img-4.png" alt="">
                    </div>
                    <div class="product-content">
                        <h3>Place Your Tilte Here</h3>
                        <div class="rating">
                            <ul>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>

                            </ul>
                        </div>
                        <h6>$00.00</h6>
                        <div class="product-btn">
                            <a class="btn" href="product-detail.php"><i class="far fa-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>

{% schema %}
    {
      "name": "Cus Products Sec",
      "tag": "section",
      "class": "announcement-bar-section",
      "settings": [
        {
        "type": "text",
        "id": "title",
        "default": "Collections",
        "label": "Title"
        }, 
        {
            "type": "collection",
            "id": "collection",
            "label": "t:sections.featured-collection.settings.collection.label"
        }
    ],
    "presets": [
        {
          "name": "Cus Products Sec"
        }
      ]
    }
    {% endschema %}