<div class="banner-slider-main">
  {%- for block in section.blocks -%}
<div class="banner-slider-item">
  <div class="banner" style="background-image: url({{ section.settings.image | img_url: 'master' }});">
    <div class="container position-relative">
        <div class="row align-items-center">
          <div class= "main-slider-con">
            <div class="main-banner-con">
                <div class="banner-content">
                    <h5>{{ block.settings.sub_title }}</h5>
                    <h2><span>CONTEMPORARY ART</span> Transform Your Living Space</h2>
                    <p>{{ section.settings.content }}
                    </p>
                    <div class="banner-btn">
                        <a class="btn" href="">get started</a>
                        <a class="btn btn-2" href="">shop now</a>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>
</div>
  {%- endfor -%}
</div>




{% schema %}
  {
    "name": "Cus Main Slider",
    "tag": "section",
    "class": "announcement-bar-section",
    "blocks": [
      {
        "type": "column",
        "name": "t:sections.multicolumn.blocks.column.name",
        "settings": [
          {
            "type": "text",
            "id": "sub_title",
            "default": "Welcome To our website",
            "label": "Sub Heading"
          },
          {
            "type": "text",
            "id": "button_text",
            "default": "SHOP NOW",
            "label": "Button Title"
          }, 
          {
            "type": "url",
            "id": "button_link",
            "label": "Button Link"
          },
          {
            "type": "richtext",
            "id": "content",
            "default": "<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has.</p>",
            "label": "Content"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "t:sections.multicolumn.blocks.column.settings.image.label"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Cus Main Slider",
        "blocks": [
          {
            "type": "column"
          }, {
            "type": "column"
          }
        ]
      }
    ]
  }
{% endschema %}

