





{% schema %}
    {
      "name": "Cus Content Slider",
      "tag": "section",
      "class": "announcement-bar-section",
      "blocks": [
        {
          "type": "column",
          "name": "t:sections.multicolumn.blocks.column.name",
          "settings": [
            {
              "type": "image_picker",
              "id": "image_product",
              "label": "Image"
            },
            {
              "type": "text",
              "id": "title",
              "default": "Collections",
              "label": "Title"
            },
            {
              "type": "richtext",
              "id": "content",
              "default": "<p>Collections</p>",
              "label": "Content"
            },
            {
              "type": "text",
              "id": "button_text",
              "default": "Collections",
              "label": "Button Title"
            }, {
              "type": "url",
              "id": "button_url",
              "label": "Button URL"
            }
          ]
        }
      ],
      "settings": [
        {
          "type": "text",
          "id": "button_text",
          "default": "Collections",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        },
        {
          "type": "select",
          "id": "my_select_field",
          "label": "Image Position",
          "options": [
            {
              "value": "option1",
              "label": "Image Left"
            },
            {
              "value": "option2",
              "label": "Image Right"
            }
          ]
        }
    ],
    "presets": [
        {
          "name": "Cus Content Slider",
          "blocks": [
          {
            "type": "column"
          }, 
          {
            "type": "column"
          },
          {
            "type": "column"
          }
        ]
        }
      ]
    }
    {% endschema %}