<section class="shop-category-sec bg-sec">
  <div class="container">
    <div class="title text-center">
      <h2>Categories</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard
      </p>
    </div>
    <div class="product-tabs">
      <div class="product-tabs-btns">
        <ul
          class="nav nav-tabs"
          id="myTab"
          role="tablist">
          <li class="nav-item" role="presentation">
            <button
              class="nav-link active"
              id="all-tab"
              data-bs-toggle="tab"
              data-bs-target="#all"
              type="button"
              role="tab"
              aria-controls="all"
              aria-selected="true">All</button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="tab-1-tab"
              data-bs-toggle="tab"
              data-bs-target="#tab-1"
              type="button"
              role="tab"
              aria-controls="tab-1"
              aria-selected="false">Lorem Ipsum</button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="tab-2-tab"
              data-bs-toggle="tab"
              data-bs-target="#tab-2"
              type="button"
              role="tab"
              aria-controls="tab-2"
              aria-selected="false">Lorem Ipsum</button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="tab-3-tab"
              data-bs-toggle="tab"
              data-bs-target="#tab-3"
              type="button"
              role="tab"
              aria-controls="tab-3"
              aria-selected="false">Lorem Ipsum</button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="tab-4-tab"
              data-bs-toggle="tab"
              data-bs-target="#tab-4"
              type="button"
              role="tab"
              aria-controls="tab-4"
              aria-selected="false">Lorem Ipsum</button>
          </li>

        </ul>
      </div>

      <div class="tab-content" id="myTabContent">
        <div
          class="tab-pane fade show active"
          id="all"
          role="tabpanel"
          aria-labelledby="all-tab">
          <div class="row ">
            <div class="col-md-3">
              <div class="product-item">
                <div class="product-inner-item">
                  <div class="wishlist">
                    <i class="far fa-heart"></i>
                  </div>
                  <img src="assets/images/product-img-1.png" alt="">
                </div>
                <div class="product-content">
                  <h3>Place Your Tilte Here</h3>
                  <div class="rating">
                    <ul>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>

                    </ul>
                  </div>
                  <h6>$00.00</h6>
                  <div class="product-btn">
                    <a class="btn" href="product-detail.php">
                      <i class="far fa-plus"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="product-item">
                <div class="product-inner-item">
                  <div class="wishlist">
                    <i class="far fa-heart"></i>
                  </div>
                  <img src="assets/images/product-img-2.png" alt="">
                </div>
                <div class="product-content">
                  <h3>Place Your Tilte Here</h3>
                  <div class="rating">
                    <ul>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>

                    </ul>
                  </div>
                  <h6>$00.00</h6>
                  <div class="product-btn">
                    <a class="btn" href="product-detail.php">
                      <i class="far fa-plus"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="product-item">
                <div class="product-inner-item">
                  <div class="wishlist">
                    <i class="far fa-heart"></i>
                  </div>
                  <img src="assets/images/product-img-3.png" alt="">
                </div>
                <div class="product-content">
                  <h3>Place Your Tilte Here</h3>
                  <div class="rating">
                    <ul>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>

                    </ul>
                  </div>
                  <h6>$00.00</h6>
                  <div class="product-btn">
                    <a class="btn" href="product-detail.php">
                      <i class="far fa-plus"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="product-item">
                <div class="product-inner-item">
                  <div class="wishlist">
                    <i class="far fa-heart"></i>
                  </div>
                  <img src="assets/images/product-img-4.png" alt="">
                </div>
                <div class="product-content">
                  <h3>Place Your Tilte Here</h3>
                  <div class="rating">
                    <ul>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>

                    </ul>
                  </div>
                  <h6>$00.00</h6>
                  <div class="product-btn">
                    <a class="btn" href="product-detail.php">
                      <i class="far fa-plus"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
        <div
          class="tab-pane fade"
          id="tab-1"
          role="tabpanel"
          aria-labelledby="tab-1-tab">
          <div class="row ">
            <div class="col-md-3">
              <div class="product-item">
                <div class="product-inner-item">
                  <div class="wishlist">
                    <i class="far fa-heart"></i>
                  </div>
                  <img src="assets/images/product-img-1.png" alt="">
                </div>
                <div class="product-content">
                  <h3>Place Your Tilte Here</h3>
                  <div class="rating">
                    <ul>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>

                    </ul>
                  </div>
                  <h6>$00.00</h6>
                  <div class="product-btn">
                    <a class="btn" href="product-detail.php">
                      <i class="far fa-plus"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="product-item">
                <div class="product-inner-item">
                  <div class="wishlist">
                    <i class="far fa-heart"></i>
                  </div>
                  <img src="assets/images/product-img-2.png" alt="">
                </div>
                <div class="product-content">
                  <h3>Place Your Tilte Here</h3>
                  <div class="rating">
                    <ul>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>

                    </ul>
                  </div>
                  <h6>$00.00</h6>
                  <div class="product-btn">
                    <a class="btn" href="product-detail.php">
                      <i class="far fa-plus"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="product-item">
                <div class="product-inner-item">
                  <div class="wishlist">
                    <i class="far fa-heart"></i>
                  </div>
                  <img src="assets/images/product-img-3.png" alt="">
                </div>
                <div class="product-content">
                  <h3>Place Your Tilte Here</h3>
                  <div class="rating">
                    <ul>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>

                    </ul>
                  </div>
                  <h6>$00.00</h6>
                  <div class="product-btn">
                    <a class="btn" href="product-detail.php">
                      <i class="far fa-plus"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="product-item">
                <div class="product-inner-item">
                  <div class="wishlist">
                    <i class="far fa-heart"></i>
                  </div>
                  <img src="assets/images/product-img-4.png" alt="">
                </div>
                <div class="product-content">
                  <h3>Place Your Tilte Here</h3>
                  <div class="rating">
                    <ul>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>

                    </ul>
                  </div>
                  <h6>$00.00</h6>
                  <div class="product-btn">
                    <a class="btn" href="product-detail.php">
                      <i class="far fa-plus"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
        <div
          class="tab-pane fade"
          id="tab-2"
          role="tabpanel"
          aria-labelledby="tab-2-tab">
          <div class="row ">
            <div class="col-md-3">
              <div class="product-item">
                <div class="product-inner-item">
                  <div class="wishlist">
                    <i class="far fa-heart"></i>
                  </div>
                  <img src="assets/images/product-img-1.png" alt="">
                </div>
                <div class="product-content">
                  <h3>Place Your Tilte Here</h3>
                  <div class="rating">
                    <ul>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>

                    </ul>
                  </div>
                  <h6>$00.00</h6>
                  <div class="product-btn">
                    <a class="btn" href="product-detail.php">
                      <i class="far fa-plus"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="product-item">
                <div class="product-inner-item">
                  <div class="wishlist">
                    <i class="far fa-heart"></i>
                  </div>
                  <img src="assets/images/product-img-2.png" alt="">
                </div>
                <div class="product-content">
                  <h3>Place Your Tilte Here</h3>
                  <div class="rating">
                    <ul>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>

                    </ul>
                  </div>
                  <h6>$00.00</h6>
                  <div class="product-btn">
                    <a class="btn" href="product-detail.php">
                      <i class="far fa-plus"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="product-item">
                <div class="product-inner-item">
                  <div class="wishlist">
                    <i class="far fa-heart"></i>
                  </div>
                  <img src="assets/images/product-img-3.png" alt="">
                </div>
                <div class="product-content">
                  <h3>Place Your Tilte Here</h3>
                  <div class="rating">
                    <ul>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>

                    </ul>
                  </div>
                  <h6>$00.00</h6>
                  <div class="product-btn">
                    <a class="btn" href="product-detail.php">
                      <i class="far fa-plus"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="product-item">
                <div class="product-inner-item">
                  <div class="wishlist">
                    <i class="far fa-heart"></i>
                  </div>
                  <img src="assets/images/product-img-4.png" alt="">
                </div>
                <div class="product-content">
                  <h3>Place Your Tilte Here</h3>
                  <div class="rating">
                    <ul>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>

                    </ul>
                  </div>
                  <h6>$00.00</h6>
                  <div class="product-btn">
                    <a class="btn" href="product-detail.php">
                      <i class="far fa-plus"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
        <div
          class="tab-pane fade"
          id="tab-3"
          role="tabpanel"
          aria-labelledby="tab-3-tab">
          <div class="row ">
            <div class="col-md-3">
              <div class="product-item">
                <div class="product-inner-item">
                  <div class="wishlist">
                    <i class="far fa-heart"></i>
                  </div>
                  <img src="assets/images/product-img-1.png" alt="">
                </div>
                <div class="product-content">
                  <h3>Place Your Tilte Here</h3>
                  <div class="rating">
                    <ul>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>

                    </ul>
                  </div>
                  <h6>$00.00</h6>
                  <div class="product-btn">
                    <a class="btn" href="product-detail.php">
                      <i class="far fa-plus"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="product-item">
                <div class="product-inner-item">
                  <div class="wishlist">
                    <i class="far fa-heart"></i>
                  </div>
                  <img src="assets/images/product-img-2.png" alt="">
                </div>
                <div class="product-content">
                  <h3>Place Your Tilte Here</h3>
                  <div class="rating">
                    <ul>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>

                    </ul>
                  </div>
                  <h6>$00.00</h6>
                  <div class="product-btn">
                    <a class="btn" href="product-detail.php">
                      <i class="far fa-plus"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="product-item">
                <div class="product-inner-item">
                  <div class="wishlist">
                    <i class="far fa-heart"></i>
                  </div>
                  <img src="assets/images/product-img-3.png" alt="">
                </div>
                <div class="product-content">
                  <h3>Place Your Tilte Here</h3>
                  <div class="rating">
                    <ul>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>

                    </ul>
                  </div>
                  <h6>$00.00</h6>
                  <div class="product-btn">
                    <a class="btn" href="product-detail.php">
                      <i class="far fa-plus"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="product-item">
                <div class="product-inner-item">
                  <div class="wishlist">
                    <i class="far fa-heart"></i>
                  </div>
                  <img src="assets/images/product-img-4.png" alt="">
                </div>
                <div class="product-content">
                  <h3>Place Your Tilte Here</h3>
                  <div class="rating">
                    <ul>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>

                    </ul>
                  </div>
                  <h6>$00.00</h6>
                  <div class="product-btn">
                    <a class="btn" href="product-detail.php">
                      <i class="far fa-plus"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
        <div
          class="tab-pane fade"
          id="tab-4"
          role="tabpanel"
          aria-labelledby="tab-4-tab">
          <div class="row ">
            <div class="col-md-3">
              <div class="product-item">
                <div class="product-inner-item">
                  <div class="wishlist">
                    <i class="far fa-heart"></i>
                  </div>
                  <img src="assets/images/product-img-1.png" alt="">
                </div>
                <div class="product-content">
                  <h3>Place Your Tilte Here</h3>
                  <div class="rating">
                    <ul>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>

                    </ul>
                  </div>
                  <h6>$00.00</h6>
                  <div class="product-btn">
                    <a class="btn" href="product-detail.php">
                      <i class="far fa-plus"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="product-item">
                <div class="product-inner-item">
                  <div class="wishlist">
                    <i class="far fa-heart"></i>
                  </div>
                  <img src="assets/images/product-img-2.png" alt="">
                </div>
                <div class="product-content">
                  <h3>Place Your Tilte Here</h3>
                  <div class="rating">
                    <ul>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>

                    </ul>
                  </div>
                  <h6>$00.00</h6>
                  <div class="product-btn">
                    <a class="btn" href="product-detail.php">
                      <i class="far fa-plus"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="product-item">
                <div class="product-inner-item">
                  <div class="wishlist">
                    <i class="far fa-heart"></i>
                  </div>
                  <img src="assets/images/product-img-3.png" alt="">
                </div>
                <div class="product-content">
                  <h3>Place Your Tilte Here</h3>
                  <div class="rating">
                    <ul>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>

                    </ul>
                  </div>
                  <h6>$00.00</h6>
                  <div class="product-btn">
                    <a class="btn" href="product-detail.php">
                      <i class="far fa-plus"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="product-item">
                <div class="product-inner-item">
                  <div class="wishlist">
                    <i class="far fa-heart"></i>
                  </div>
                  <img src="assets/images/product-img-4.png" alt="">
                </div>
                <div class="product-content">
                  <h3>Place Your Tilte Here</h3>
                  <div class="rating">
                    <ul>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i>
                      </li>

                    </ul>
                  </div>
                  <h6>$00.00</h6>
                  <div class="product-btn">
                    <a class="btn" href="product-detail.php">
                      <i class="far fa-plus"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "Cus Shop Category",
    "tag": "section",
    "class": "announcement-bar-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "t:sections.multicolumn.blocks.column.settings.image.label"
      },
      {
        "type": "text",
        "id": "sub_title",
        "default": "Collections",
        "label": "Sub Title"
      },
      {
        "type": "text",
        "id": "title",
        "default": "Collections",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "button_text",
        "default": "Collections",
        "label": "Button Text"
      }, {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      }
    ],
    "presets": [
      {
        "name": "Cus Shop Category"
      }
    ]
  }
{% endschema %}