footer {
    font-size: 16px;
}

.newsletter-form__field-wrapper #Subscribe {
    background-color: var(--c1);
    border-radius: 15px;
    color: #fff;
    border: unset;
  }
  .newsletter-form__field-wrapper .field::after {
    display: none;
  }
  .about-content.bg-2 h3{
    color: #fff;
  }

.product-content h6 {
    font-size: 16px;
}
.title p {
  font-size: 16px;
}

.product-inner-item img {
  border-radius: 12px;
}
.facet-wrap {
  margin-bottom: 30px;
  background: #dd740d40;
  padding: 20px 50px;
  border-radius: 20px;
}
.facet-wrap .facets__summary {
  margin: 0;
}
.facet-wrap .facets__heading {
  margin: 0;
  margin-right: 20px;
}
.product__info-container .product__description {
  margin-top: 0;
  font-size: 16px;
}

.product__info-container .price .price__regular span {
  text-decoration: auto !important;
  font-size: 32px;
  color: #9999;
  font-weight: 500;
  line-height: 32px;
}

.product__info-container .price {
  margin-bottom: -10px !important;
}
.product__title h1 {
  font-family: "Poppins";
  font-size: 50px;
  font-weight: 400;
}

.product__info-container .product--thumbnail_slider .product__media-list {
  margin-bottom: 5px;
}



.product__info-container .product__title h1 {
  font-family: "Poppins";
  font-size: 50px;
  font-weight: 400;
}

.product__info-container .product--thumbnail_slider .product__media-list {
  margin-bottom: 5px;
}

.product__info-container fieldset.product-form__input .form__label {
  font-size: 22px;
  color: #999;
  margin: 0px 0px 0;
}

.product__info-container .product-form__input input[type=radio]+label {
  background-color: #faf4f4;
  border-radius: 10px;
  border: unset;
}

.product__info-container .product-form__input input[type=radio]:checked+label {
  background-color: #fbebb5;
  color: #000;
}

.product__info-container .product-form__quantity .form__label {
  display: none;
}

.product__info-container .product-form__quantity quantity-input.quantity {
  border: unset;
}

.product__info-container .product-form__quantity quantity-input.quantity::after {
  border-radius: 10px;
  border-color: #dd740d;
  box-shadow: unset;
}

.product__info-container .product-form__submit {
  width: auto;
}

.product__info-container .product-form__quantity {
  margin-bottom: -10px !important;
  margin-top: 30px;
}


.button {
  background-color: unset;
  color: #000;
  text-transform: uppercase;
}
.button:after {
  border-radius: 10px;
}

.related-wrap {
  padding: 70px 0;
  background-color: rgb(221 116 13 / 10%);
}


h2.related-products__heading {
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
  font-weight: 600;
}
.product-content .spr-badge span.spr-badge-caption {
  display: none;
}


.product-content .spr-badge span.spr-starrating i {
  font-size: 16px;
  margin: 0px 8px;
  color: #f3cd03;
}


.product__info-container .product-variant-color {
  border: 2px solid #e1e1e1 !important;
  border-radius: 50px !important;
  height: 30px;
  width: 30px !important;
  padding: 0 !important;
}

.product__info-container .product-form__input input[type=radio]:checked+label.product-variant-color {
  outline: 2px solid #000;
  outline-offset: 2px;
  border-color: #000 !important;
}

.product-tabs-con {
  font-size: 16px;
}



.contact-details__single :is(a, address) {
  font-size: 16px;
}

.contact-details__single i {
  font-size: 30px !important;
}
.contact-form input, .contact-form textarea {
    font-size: 16px;
}

.customer.login,
.customer.register {
    padding: 60px 50px !important;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 19%) 12px 13px 20px, rgb(0 0 0 / 23%) 0px 6px 6px;
}

.customer .field input, .customer .field input:focus {
    padding: 5px 15px !important;
    background: #f8f8f8 !important;
    border: 2px solid var(--c1);
    border-radius: 40px;
    width: 100%;
    height: 52px;
}

.customer .field::after {
    display: none;
}

.customer .field input::placeholder {
    opacity: 1;
}

.customer button {
    background: var(--c1);
    color: #fff;
    padding: 9px 39px;
    border-radius: 30px;
    border: 2px solid var(--c1);
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    width: 100%;
}

.customer button::after {
    display: none;
}

h1#login,
.customer.register h1 {
    font-size: 50px;
    color: #000;
    font-weight: 600;
}