footer {
    font-size: 16px;
}

.newsletter-form__field-wrapper #Subscribe {
    background-color: var(--c1);
    border-radius: 15px;
    color: #fff;
    border: unset;
  }
  .newsletter-form__field-wrapper .field::after {
    display: none;
  }
  .about-content.bg-2 h3{
    color: #fff;
  }

.product-content h6 {
    font-size: 16px;
}
.title p {
  font-size: 16px;
}

.product-inner-item img {
  border-radius: 12px;
}
.facet-wrap {
  margin-bottom: 30px;
  background: #dd740d40;
  padding: 20px 50px;
  border-radius: 20px;
}
.facet-wrap .facets__summary {
  margin: 0;
}
.facet-wrap .facets__heading {
  margin: 0;
  margin-right: 20px;
}
.product__info-container .product__description {
  margin-top: 0;
  font-size: 16px;
}

.product__info-container .price .price__regular span {
  text-decoration: auto !important;
  font-size: 32px;
  color: #9999;
  font-weight: 500;
  line-height: 32px;
}

.product__info-container .price {
  margin-bottom: -10px !important;
}