footer {
    font-size: 16px;
}

.newsletter-form__field-wrapper #Subscribe {
    background-color: var(--c1);
    border-radius: 15px;
    color: #fff;
    border: unset;
  }
  .newsletter-form__field-wrapper .field::after {
    display: none;
  }
  .about-content.bg-2 h3{
    color: #fff;
  }

.product-content h6 {
    font-size: 16px;
}